.color1 {
  background-color: #f8fafc; }

.color2 {
  background-color: #f4f6f9; }

.color3 {
  background-color: #f0f2f7; }

.color4 {
  background-color: #eceef2; }

.color5 {
  background-color: #e7e9ef; }

.color6 {
  background-color: #e3e5ea; }

.color7 {
  background-color: #dfe0e5; }

.color8 {
  background-color: #dbdde2; }

.color9 {
  background-color: #d6d8dc; }

.color10 {
  background-color: #d2d4d8; }

.color11 {
  background-color: #ced0d4; }

.color12 {
  background-color: #caccd2; }

.color13 {
  background-color: #c6c8ce; }

.color14 {
  background-color: #c1c3c9; }

.color15 {
  background-color: #bdbfc5; }

.color16 {
  background-color: #b9bbc2; }

.color17 {
  background-color: #b5b5ba; }

.color18 {
  background-color: #b0b1b6; }

.color19 {
  background-color: #acadb2; }

.color20 {
  background-color: #acadb2; }

.color21 {
  background-color: #a4a5aa; }

.color22 {
  background-color: #a0a1a6; }

.color23 {
  background-color: #9b9ca2; }

.color24 {
  background-color: #97989e; }

.color25 {
  background-color: #93949a; }

.color26 {
  background-color: #8f9096; }

.color27 {
  background-color: #8f9096; }

.color28 {
  background-color: #86888e; }

.color29 {
  background-color: #82838a; }

.color30 {
  background-color: #7e7f86; }

.color31 {
  background-color: #7a7b82; }

.color32 {
  background-color: #76777e; }

.color33 {
  background-color: #72737a; }

.color34 {
  background-color: #6e6f76; }

.color35 {
  background-color: #6a6b71; }

.color36 {
  background-color: #66676d; }

.color37 {
  background-color: #626369; }

.color38 {
  background-color: #5e5f65; }

.color39 {
  background-color: #5a5b61; }

.color40 {
  background-color: #56575c; }

.color41 {
  background-color: #525358; }

.color42 {
  background-color: #4e4f54; }

.color43 {
  background-color: #4a4b50; }

.color44 {
  background-color: #46474b; }

.color45 {
  background-color: #424347; }

.color46 {
  background-color: #3f3f43; }

.color47 {
  background-color: #3b3b3f; }

.color48 {
  background-color: #37373b; }

.color49 {
  background-color: #333336; }

.color50 {
  background-color: #2f2f32; }

.color51 {
  background-color: #2b2b2e; }

.color52 {
  background-color: #27272a; }

.color53 {
  background-color: #232325; }

.color54 {
  background-color: #1f1f21; }

.color55 {
  background-color: #1b1b1d; }

.color56 {
  background-color: #171719; }

.color57 {
  background-color: #131315; }

.color58 {
  background-color: #0f0f10; }

.color59 {
  background-color: #0b0b0c; }

.color60 {
  background-color: #070708; }
